body {
    background-color: #ebecff;
    margin: 0;
    letter-spacing: 0.64px;
    font: 600 17px 'Source Sans Pro', serif;
    text-align: center;
}
  
.topnav {
    background-color: #cfd0ec;
    overflow: hidden;
}

.topnav a {
    float: left;
    color:rgb(103, 143, 255);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
  }

.topnav a.active {
    background-color: #04AA6D;
    color: white;
  }


a:visited { text-decoration: none; color:rgb(0, 0, 0); }
a:hover { text-decoration: none; color:rgb(0, 0, 0); }
  